*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}


.section-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-section{
    background-image: url(../assets/black2.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no repeat;
}

.section-one{
    background-image: url(../assets/black2.jpg);



 }

 .section-two{
     background-image: url(../assets/black2.jpg);


  }

  .card-container{
      background: cornsilk;
      border-radius: 25px;
      padding: 25px;
      max-width: 450px;
      display: grid;

   }

input{ 

    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 12px;
    background: cornsilk;
    color: darkgrey;
}

   form{
       display: grid;
    }

  footer { 

    height: 150px;
    padding: 25px;
    text-align: center;
    background-color: blanchedalmond;
    color: cadetblue;
  }
 



